<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/63e79ca0-fb9b-4741-912c-2a4be79d320b/resourceGroups/az-rg/providers/Microsoft.Web/sites/az-appservice</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://az-appservice-fedyfmddbqh4buhf.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e5d5156c-caa6-46bf-9e5c-79276b5b307c</ProjectGuid>
    <PublishUrl>https://az-appservice-fedyfmddbqh4buhf.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName>$az-appservice</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>